[user]
	name = Yuta Nagamiya
	email = y.nagamiya@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
[alias]
	tree = "log --graph --date=iso --pretty='[%ad]%C(auto) %h%d %Cgreen%an%Creset : %s'"
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
[credential "https://dev.azure.com"]
	useHttpPath = true
[include]
	path = ~/.gitconfig_os
[credential]
	gitHubHelper = 
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
